#content{
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-areas: 
    ". . ."
    ". content ."
    ". . .";
    grid-template-rows: 20% auto 20%;
    height: 100vh;

    >div{
        grid-area: content;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #01239e;
        

        svg{
            width: 50%;
            
        }

       #d-1, #d-2, #d-1-green, #d-2-green, #o, #o-green, #l, #l-green, #g-1, #g-1-green, #a, #a-green, #n-1, #n-1-green, #i-1, #i-1-green, #u, #u-green, #c, #c-green, #period, #period-green, #d-2, #d-2-green, #e, #e-green, #s, #s-green, #i-2, #i-2-green, #g-2, #g-2-green, #n-2, #n-2-green{
            visibility: hidden;
        }
    }
}