/* =============
    Navigation
============= */
nav{
    height: 100%;

    ul{
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li{
            margin-left: 4vw;

            a:link, a:visited{
                font-family: "Roboto Slab", serif;
                color: #1e482a;
                transition: 0.25s;
                font-size: rem-calc(18);
                font-weight: 400;

                &:hover, &:active{
                    color: #fb906a;
                }
            }
        }
    }
}